<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">操作理由</h5>
		</div>
		<div class="modal-body">
		    <textarea name="Reason" class="form-control" id="message-text" rows="5" cols="30" readonly>{{reason.Reason}}</textarea>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" onclick="closeModal()">關閉</button>
		</div>
	  </div>
	</div>
  </div>