<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>AI模式管理</title>
    <link href="{{ url_for('static', path='/assets/css/custom.css') }}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">AI模式管理</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex justify-content-end">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/control">回控制頁面</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link active" href="/analyze">回上傳頁面</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/model">model</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </nav>

        <div class="card container col-12 col-sm-8 col-md-10 p-4 shadow-sm mt-5">
            <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title">目前使用的AI模型</h1>
                    <h5>混淆矩陣</h5>
                    <img src="ML_modeling/img/original_cm.png" class="img-thumbnail" alt="...">
                    <h5>各項指標</h5>
                    <img src="ML_modeling/img/original_ref.png" class="img-thumbnail" alt="...">
                    <h5>決策樹</h5>
                    <img src="ML_modeling/img/original_tree.png" class="img-thumbnail" alt="...">
                    <p></p>
                    <a href="#" class="btn btn-primary">返回上一頁</a>
                  </div>
                </div>
              </div>
        </div>
        
</body>

</html>