<div id="qol_input" hx-target="this" hx-swap="outerHTML">
    <div class="container">
        <div class="row justify-content-between">
            {% if watch %}
            <div class="col-10">
                <select class="form-select bg-light mt-3" aria-label="Default select example" name="qol_date"
                    hx-get="/getSurvey" hx-target="#qol_input" hx-swap="outerHTML" hx-include="[name=patient_id]">
                    {% for i in all_qol_dates|reverse %}
                    <option value="{{i}}" {% if i==qol_date %} selected {% endif %}>{{i}}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            <div class="col-2">
                {% if watch %}
                <!-- <div class="d-flex justify-content-end">
                    <button hx-get="/updateQOL/{{patient_id}}/{{qol_date}}"
                        class="btn btn-primary my-3 me-2">編輯</button>
                </div> -->
                {% endif %}
            </div>

        </div>

    </div>



    {% include "partials/watchVisit/survey/qolPartial.html" %}

</div>