<div id="in_hospital_state">
    <div class="pt-3">
        治療方式
    </div>
    <div class="row justify-content-around">
            <div class="form-check form-check-inline col-auto">
                <label for="plasmapheresis" class="form-label">PP</label>
                <input type="radio" name="Treat" id="plasmapheresis" class="form-check-input" value="1" checked>
            </div>
            <div class="form-check form-check-inline col-auto">
                <label for="intravenous_immunoglobulin" class="form-label">IVIG</label>
                <input type="radio" name="Treat" id="intravenous_immunoglobulin" class="form-check-input" value="2">
            </div>
            <div class="form-check form-check-inline col-auto">
                <label for="rituximab" class="form-label">RTX</label>
                <input type="radio" name="Treat" id="rituximab" class="form-check-input" value="3">
            </div>
            <div class="form-check form-check-inline col-auto">
                <label for="surgery" class="form-label">開刀</label>
                <input type="radio" name="Treat" id="surgery" class="form-check-input" value="4">
            </div>
        </div>

    </div>
 
</div>